textarea.code{
	background-color: #222;
	color: #eee;
	font-family: monospace;
}

textarea.large{
	height: 20em;
	width: 100%;
}

form.sjr-core {

}

form.sjr-core .toggle-container {
	float: left;
	margin: 0 0 1em 0;
}

form.sjr-core .toggle-container input[type="radio"]{
	display: none;
}

form.sjr-core legend {
	float: left;
	line-height: 30px;
	margin-left: 1em;
}

form.sjr-core .toggle-container label {
	background-color: #aaa;
	float: left;
	height: 30px;
	line-height: 20px;
	margin: 0;
	position: relative;
	width: 40px;
}

form.sjr-core .toggle-container label.off {
	border-radius: 5px 0 0 5px;
}

form.sjr-core .toggle-container label.on {
	border-radius: 0 5px 5px 0;
}

form.sjr-core .toggle-container input[type="radio"]:checked + label::after {
	border-radius: 5px;
	display: block;
	margin: 5px;
	text-align: center;
}

form.sjr-core .toggle-container input[type="radio"]:checked + label.off::after {
	background-color: #000;
	content: "Off";
}

form.sjr-core .toggle-container input[type="radio"]:checked + label.on::after {
	background-color: #fff;
	content: "On";
}