form.sjr-core input{
	border: 1px solid #ddd;
	margin: .2em .2em .2em 0;
}

form.sjr-core input.tiny{
	width: 3em;
}

form.sjr-core input.small{
	width: 15em;
}

form.sjr-core input.medium{
	width: 30.4em;
}

form.sjr-core input.large{
	width: 45em;
}

form.sjr-core textarea.large{
	height: 8em;
	width: 40em;
}

form.sjr-core label span{
	display: inline-block;
	width: 10em;
}

form.sjr-core .autotoggle{
	padding: 0 0 1em 0;
}

form.sjr-core .autotoggle.inactive{
	color: #bbb;
}

form.sjr-core button{
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-radius: .25em;
	cursor: pointer;
}

form.sjr-core button#add_user{
	margin: 1em 0em;
}

form.sjr-core .inactive a{
	cursor: default;
}

form.sjr-core .inactive button, form.sjr-core .inactive input, form.sjr-core .inactive textarea{
	background-color: #ddd;
	border: 1px solid #bbb;
	color: #bbb;
	cursor: default;
}

form.sjr-core .autotoggle.inactive input[type=checkbox]{
	opacity: .5;
}

form.sjr-core .autotoggle.inactive pre {

}

form.sjr-core .divider{
	margin-left: 11em;
}

form.sjr-core table.form-table tr{
	transition: background-color 0.05s ease;
}

form.sjr-core table.form-table tr:hover{
	background-color: #eaeaea;
}

form.sjr-core table.form-table td.env-setting{
	
}